services:
  web:
    build: .
    image: drf_final:1.0
    container_name: web
    command: >
      sh -c "python manage.py migrate &&
      python manage.py createadmin &&
      python manage.py runserver 0.0.0.0:8000"
    environment:
      - DEBUG=True
      - DATABASE_HOST=db
    volumes:
      - .:/code
      - static_volume:/code/static
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env

  celery:
    container_name: celery
    image: drf_final:1.0
    environment:
      - DATABASE_HOST=db
    command: celery -A config worker -l INFO -P eventlet
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env

  beat:
    container_name: celery-beat
    image: drf_final:1.0
    environment:
      - DATABASE_HOST=db
    command: celery -A config beat -l INFO
    depends_on:
      redis:
        condition: service_healthy


  redis:
    container_name: redis
    image: redis:7
    ports:
      - "6379:6379"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 10

  db:
    container_name: db
    image: postgres:16
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER" ]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  default:

volumes:
  postgres_data:
  static_volume: